/* All devices */
.POPOSFeatureList {
    display: flex;
    /* width: fit-content */
}

/* Mobile Screens */
@media screen and (max-width: 720px) {
    .POPOSFeatureList {
        display: flex;
        width: 20%;
    }
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
    .POPOSFeatureList {
        display: flex;
        width: 20%;
    }
}