/* Styling the POPOSDetails Component */
.POPOSDetails {
	display: flex;
	flex-direction: row-reverse;
	width: 960px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.POPOSDetails .POPOSDetails-info {
	flex: 2;
	text-align: left;
	padding: 0 1em;
}

/* Styling the POPOSDetails h1/title */
.POPOSDetails .POPOSDetails-title {
	font-size: 2em;
	margin: 0;
}

/* Styling the POPOSDetails image */
.POPOSDetails .POPOSDetails-image {
	flex: 2;
}

.POPOSDetails .POPOSDetails-image img {
	width: 100%;
	/* Give image rounded corners */
	border-radius: 10px;
}

/* Styling the POPOSDetails hours */
.POPOSDetails .POPOSDetails-hours {
	font-size: 1.5em;
}

/* Mobile Screens */
@media screen and (max-width: 480px) {
    .POPOSDetails {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: fit-content;
		margin-top: 20px;
		margin-bottom: 10px;
    }

	.POPOSDetails .POPOSDetails-title {
		font-size: 1.7em;
		margin: 0;
		text-align: center;
	}

	.POPOSDetails .POPOSDetails-info {
		flex: 2;
		text-align: center;
		padding: 0 1em;
	}

	.POPOSDetails .POPOSDetails-image {
		width: 80%;
		border-radius: 10px;
		position: unset;
	}
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
	.POPOSDetails {
		display: flex;
		flex-direction: row-reverse;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 10px;
    }
}